body {
   text-align: center; 
   align-content: center;
}

#nameInput {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}

p {
    text-decoration: none;
}

.row {
    padding: 1em;
}

#outerCategory {
    padding: 1em;
}

