body {
   text-align: center; 
   align-content: center;
}

#nameInput {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    margin: 0 auto;
    text-align: center;
}

p {
    text-decoration: none;
}

.container {
    // display: flex
}