#upperHalf {
   text-align: center; 
   align-content: center;
}

#upperHalf button {
    color: #999;
}

#lowerHalf button {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

#name {
    margin: 0 auto;
}

#nameInput {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}

::-webkit-input-placeholder {
    text-align: center;
}

p {
    text-decoration: none;
}

p .catIcon {
    padding-top: .5em;
    padding-bottom: .5em;
    font-size: 5em;
}

.catIconButton {
    text-decoration: none;
    border: 3px solid black;
    border-radius: 25px;
    background: #50b621;
    margin-top: 3em;
    height: 15em;
    width: 15em;
}

.catBtnDiv {
    padding-left: 1.5em;
    padding-right: 1.5em;
}
