<div class="container">
  <div class="row">
    <div id="upperHalf">
      <span class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          {{questions}} Questions
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" (click)='selectedQuestions(10)'>10</a>
          <br>
          <a class="dropdown-item" (click)='selectedQuestions(25)'>25</a>
          <br>
          <a class="dropdown-item" (click)='selectedQuestions(50)'>50</a>
        </div>
      </span>
      <span class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          {{seats}} Seats
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" (click)="selectedSeats(5)">5</a>
          <br>
          <a class="dropdown-item" (click)="selectedSeats(10)">10</a>
        </div>
      </span>
      <div id="name" class="input-group mb-3">
        <input id="nameInput" #box (keyup)="lobbyName(box.value)" type="text" class="form-control" placeholder="Name"
          aria-describedby="basic-addon1">
      </div>
      <div id="privateToggle" (click)="privateOrPublic()">
        <input (click)="private=!private" type="checkbox" checked data-toggle="toggle" data-style="ios" data-on="Public"
          data-off="Private" data-onstyle="success" data-offstyle="danger">
      </div>
      <button class="btn btn-secondary dropdown-toggle" type="button" id="createBtn" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false" (click)="create()">
        Create
      </button>
    </div>
    <div id="lowerHalf">
      <div class="container">
        <div class="row">
          <button (click)="selectCategory('Math')" class="col-xs-12 col-sm-6  col-md-3 col-lg-4" id="catIconButton">
            <h4>Math</h4>
            <p id="catIcon" class="fa fa-calculator"></p>
          </button>
          <button (click)="selectCategory('Music')" class="col-xs-12 col-sm-6 col-md-offset-1 col-md-3 col-lg-4" id="catIconButton">
            <h4>Music</h4>
            <p id="catIcon" class="fa fa-spotify"></p>
          </button>
          <button (click)="selectCategory('Sports')" class="col-xs-12 col-sm-6 col-md-offset-1 col-md-3  col-lg-4" id="catIconButton">
            <h4>Sports</h4>
            <p id="catIcon" class="fa fa-futbol-o"></p>
          </button>
          <button (click)="selectCategory('Chemistry')" class="col-xs-12 col-sm-6 col-md-3 col-lg-4 top-buffer" id="catIconButton">
            <h4>Chemistry</h4>
            <p id="catIcon" class="fa fa-flask"></p>
          </button>
          <button (click)="selectCategory('Biology')" class="col-xs-12 col-sm-6 col-md-offset-1 col-md-3 col-lg-4 top-buffer" id="catIconButton">
            <h4>Biology</h4>
            <p id="catIcon" class="fa fa-heart"></p>
          </button>
          <button (click)="selectCategory('Language')" class="col-xs-12 col-sm-6 col-md-offset-1 col-md-3 col-lg-4 top-buffer" id="catIconButton">
            <h4>Language</h4>
            <p id="catIcon" class="fa fa-language"></p>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
