<div class="container-fluid">
  <div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-success" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
  <br>

  <div class="row">
      <div class="col-md-9">
          <div class="container-fluid">
              <div class="jumbotron">
                  <div class="container">
                      <h2 class="display-6"><b>Question {{currentQuestionNumber}} of {{totalQuestions}}</b></h2>
                      <h4>{{Question}}</h4>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-6">
                      <button type="button" class="btn btn-primary btn-lg btn-block">{{a1}}</button>
                  </div>
                  <div class="col-md-6">
                      <button type="button" class="btn btn-primary btn-lg btn-block">{{a2}}</button>
                  </div>
              </div>
              <br>
              <div class="row">
                  <div class="col-md-6">
                      <button type="button" class="btn btn-primary btn-lg btn-block">{{a3}}</button>
                  </div>
                  <div class="col-md-6">
                      <button type="button" class="btn btn-primary btn-lg btn-block">{{a4}}</button>
                  </div>
              </div>

              <hr>
          </div>

      </div>
      <div class="col-md-3" style="text-align: center"> 
            <div class="col-md-6 col-md-offset-2">
                   
                        <div class="panel panel-success" style="width: 120px">
                            <div class="panel-heading">
                                <h3 class="panel-title"></h3><h4><b>Timer</b></h4>
                            </div>
                        <div style="height: 50px">
                        <div class="panel-body" style="padding: 2px"><h3><b>5:31</b></h3></div>
                        </div>
                        </div>

          </div>
      </div>
  </div>


  <nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Chat<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

</div>