
<div class = "container">
  <div class = "row">


      <div class="col-4-md" style="border: 1px solid black; height: 100%; width: 100%;">Test
        </div>
      <div class="col-4-md" style="border: 1px solid black; height: 100%; width: 100%;">Test
        </div>
      <div class="col-4-md" style="border: 1px solid black; height: 100%; width: 100%;">Test
        </div>


  </div>


</div>


<div class="container">
  <div class="row">
    <div class="col-md-4" >
      <p id="timesIcon" class="fa fa-times"></p>
    </div>
    <div class="col-md-4" id="timesIconDiv">
      <p id="timesIcon" class="fa fa-times"></p>
    </div>
    <div class="col-md-4" id="timesIconDiv">
      <p id="timesIcon" class="fa fa-times"></p>
    </div>
    <div class="col-md-4" id="timesIconDiv">
      <p id="timesIcon" class="fa fa-times"></p>
    </div>
    <div class="col-md-4" id="timesIconDiv">
      <p id="timesIcon" class="fa fa-times"></p>
    </div>
    <div class="col-md-4" id="timesIconDiv">
      <p id="timesIcon" class="fa fa-times"></p>
    </div>
    <div class="col-md-4" id="timesIconDiv">
      <p id="timesIcon" class="fa fa-times"></p>
    </div>
    <div class="col-md-4" id="timesIconDiv">
      <p id="timesIcon" class="fa fa-times"></p>
    </div>
    <div class="col-md-4" id="timesIconDiv">
      <p id="timesIcon" class="fa fa-times"></p>
    </div>
  </div>

</div>