.right_bottom {
    position:absolute;
    right: 5px;
    bottom: 5px;
    width: 300px;
    text-align: center;
}

#left_bottom {
    position: absolute;
    left: 5px;
    bottom: 5px;
    width: 300px;
    text-align: center;
}

