<div class="">
  <div style="width:1000px; margin:0 auto;" id="server-lobby-component" class="container">
    <!-- add in dtOptions in table tag -->
    <!-- [dtOptions]="dtOptions"  -->
    <div class="wrap">
      <input id="datatable-custom-search" class="data-tables-search" placeholder=" Search.." type="text" />
    </div>
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="lobbyList" class="stripe order-column hover">
      <thead>
        <tr>
          <th>Tag</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Player 1</td>
          <td>10</td>
        </tr>
        <tr>
          <td>Player 2</td>
          <td>1000</td>
        </tr>
        <tr>
          <td>Player 3</td>
          <td>1123130</td>
        </tr>
        <tr>
          <td>Player 4</td>
          <td>10</td>
        </tr>
        <tr>
          <td>Player 5</td>
          <td>10</td>
        </tr>
        <tr>
          <td>Player 6</td>
          <td>112310</td>
        </tr>
        <tr>
          <td>Player 7</td>
          <td>101231</td>
        </tr>
        <tr>
          <td>Player 8</td>
          <td>456310</td>
        </tr>
        <tr>
          <td>Player 9</td>
          <td>768457510</td>
        </tr>
        <tr>
          <td>Player 10</td>
          <td>10567</td>
        </tr>
        <tr>
          <td>Player 11</td>
          <td>1312315430</td>
        </tr>
        <tr>
          <td>Player 12</td>
          <td>12313210</td>
        </tr>
        <tr>
          <td>Player 13</td>
          <td>112310</td>
        </tr>
      </tbody>
    </table>
    <div class="input-group" style="width: 170px; margin-left: auto; margin-right: auto; margin-top: 15px;">
      <span class="input-group-btn">
        <button id="datatable-custom-prev-btn" class="btn btn-success hvr-backward hvr-sweep-to-left">Prev</button>
      </span>
      <input id="datatable-custom-page-label" type="text" class="form-control" style="text-align: center;">
      <span class="input-group-btn">
        <button id="datatable-custom-next-btn" class="btn btn-success hvr-forward hvr-sweep-to-right" style="float: left;">Next</button>
      </span>
    </div>
  </div>
</div>