<div  class = "jumbotron">
  <div style="width:1000px; margin:0 auto;" id="server-lobby-component" class="container">
    <!-- add in dtOptions in table tag -->
    <!-- [dtOptions]="dtOptions"  -->

    <input id = "datatable-custom-search" class = "data-tables-search" type="text"/>
    <button id = "datatable-custom-next-btn" class = "btn btn-success">Next</button>
    <button id = "datatable-custom-prev-btn" class = "btn btn-success">Prev</button>
    <input id = "datatable-custom-page-label" class = "form-control"/>

    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="lobbyList" class="table table-dark table-hover">
      <thead>
        <tr>
          <th>Tag</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Test</td>
          <td>10</td>
        </tr>
        <tr>
          <td>Hello</td>
          <td>40</td>
        </tr>
        <tr>
          <td>Text</td>
          <td>25</td>
        </tr>
        <tr>
          <td>Test</td>
          <td>10</td>
        </tr>
        <tr>
          <td>Hello</td>
          <td>40</td>
        </tr>
        <tr>
          <td>Text</td>
          <td>25</td>
        </tr>
        <tr>
          <td>Test</td>
          <td>10</td>
        </tr>
        <tr>
          <td>Hello</td>
          <td>40</td>
        </tr>
        <tr>
          <td>Text</td>
          <td>25</td>
        </tr>
        <tr>
          <td>Test</td>
          <td>10</td>
        </tr>
        <tr>
          <td>Hello</td>
          <td>40</td>
        </tr>
        <tr>
          <td>Text</td>
          <td>25</td>
        </tr>
        <tr>
          <td>Test</td>
          <td>10</td>
        </tr>
        <tr>
          <td>Hello</td>
          <td>40</td>
        </tr>
        <tr>
          <td>Text</td>
          <td>25</td>
        </tr>
        <tr>
          <td>Test</td>
          <td>10</td>
        </tr>
        <tr>
          <td>Hello</td>
          <td>40</td>
        </tr>
        <tr>
          <td>Text</td>
          <td>25</td>
        </tr>
        <tr>
          <td>Test</td>
          <td>10</td>
        </tr>
        <tr>
          <td>Hello</td>
          <td>40</td>
        </tr>
        <tr>
          <td>Text</td>
          <td>25</td>
        </tr>
        <tr>
          <td>Test</td>
          <td>10</td>
        </tr>
        <tr>
          <td>Hello</td>
          <td>40</td>
        </tr>
        <tr>
          <td>Text</td>
          <td>25</td>
        </tr>
        <tr>
          <td>Test</td>
          <td>10</td>
        </tr>
        <tr>
          <td>Hello</td>
          <td>40</td>
        </tr>
        <tr>
          <td>Text</td>
          <td>25</td>
        </tr>
        <tr>
          <td>Test</td>
          <td>10</td>
        </tr>
        <tr>
          <td>Hello</td>
          <td>40</td>
        </tr>
        <tr>
          <td>Text</td>
          <td>25</td>
        </tr>
      </tbody>
    </table> 
  </div>
</div>