#lobbyList {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#lobbyList td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#lobbyList tr:hover {background-color: rgb(170, 175, 192);}

#lobbyList th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(37, 57, 238);
    color: white;
}