// #lobbyList_filter {
    
//     display: none !important;
//     visibility: hidden !important;
    
// }
// .dataTables_filter {
//     display: none !important;
//     visibility: hidden !important;
// }

.wrap {
    
    text-align: center;
    padding-bottom: 25px;

}

.bottom {

    text-align: center;
    padding-top: 25px;

}

.btn{

    //background-color: #5cb85c;
    color: #eef7ee;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.btn:hover {

    background-color: rgb(73, 73, 73); /* Green */
    color: white;
}

.button-label {

    text-align: center;
    padding-top: 10px;

}

.button_label {

    text-align: center;

}

#datatable-custom-search {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    border-style: solid;
    border: 2px solid #0a5c83b6;
    border-radius: 8px;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 100%;
}

#lobbyList {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#lobbyList td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#lobbyList tr:hover {background-color: rgb(170, 175, 192);}

#lobbyList th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #0a5c83b6;
    color: white;
    
}

#lobbyList[_ngcontent-c1] th[_ngcontent-c1]{
    background-color: 		#5bc0de;
}

#datatable-custom-page-label {
    
}